<main>
    <h1>Today's Earnings</h1>
    <div class="table-container">
        <table>
            <thead>
                <th>Company</th>
                <th>EPS Estimate</th>
                <th>Revenue Estimate</th>
            </thead>
            <tbody>
                {{#each earnings}}
                <tr>
                    <td>{{companyName}} ({{symbol}})</td>
                    <td>{{epsEstimate}}</td>
                    <td>{{revenueEstimate}}</td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>


    <script src="./scripts/home.js"></script>
</main>