<main>
    <section>
        <div>
            <h2>Portfolio</h2>
            <table>
                <tbody>
                    {{#if portfolio}}
                        <thead>
                            <th>Stock Ticker</th>
                            <th>Quantity of Shares</th>
                            <th>Price</th>
                            <th>Open Price</th>
                            <th>Daily High</th>
                            <th>Daily Low</th>
                        </thead>
                        {{#each portfolio}}
                            <tr>
                                {{#each this}}
                                    {{#if this}}
                                        <td>{{this}}</td>
                                    {{else}}
                                        <td>N/A</td>
                                    {{/if}}
                                {{/each}}
                                <td><a class="delete-stock-from-portfolio" href="/deleteStockFromPortfolio">DELETE</a>
                                </td>
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
            <button class="add-stock-portfolio-button">Add Stock +</button>
        </div>
    </section>
    <section>
        <div>
            <h2>Watch List</h2>
            <table>
                <tbody>
                    {{#if watchlist}}
                        <thead>
                            <th>Stock Ticker</th>
                            <th>Price</th>
                            <th>Open Price</th>
                            <th>Daily High</th>
                            <th>Daily Low</th>
                        </thead>
                        {{#each watchlist}}
                            <tr>
                                {{#each this}}
                                    {{#if this}}
                                        <td>{{this}}</td>
                                    {{else}}
                                        <td>N/A</td>
                                    {{/if}}
                                {{/each}}
                                <td><a class="delete-stock-from-watchlist" href="/deleteStockFromWatchlist">DELETE</a>
                                </td>
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
            <button class="add-stock-watchlist-button">Add Stock +</button>
        </div>
    </section>
    <script src="./scripts/portfolio.js"></script>
</main>