<main>
    <form method="post" action="/register">
        {{#if invalidRegister}}
            <p>Invalid registration. Email already in use.</p>
        {{else}}
            <p>Welcome to Smart Money! Let's get started.</p>
        {{/if}}
        <div>
            <label for="fname">First name: </label>
            <input type="text" id="fname" name="fname" maxlength="50" required>
        </div>
        <div>
            <label for="lname">Last name: </label>
            <input type="text" id="lname" name="lname" maxlength="50" required>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" maxlength="50" required>
        </div>
        <div>
            <label for="password">Create a password: </label>
            <input type="password" name="password" id="password" minlength="8" maxlength="50" required>
        </div>
        <input type="submit" id="submit">
    </form>
</main>