* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* Main Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(31, 190, 50);
    /* width: 100vw; */
    text-align: center;
    text-shadow: 1px 1px 2px rgb(215, 193, 143);
    margin: 2em 0;
}

.table-container {
    width: 80vw;
    height: 30vh;
    overflow: auto;
}

table {
    width: 75vw;
    border-collapse: collapse;
    padding: 0 4em;
}

th {
    padding: 1em 0;
    font-size: 1em;
    color: rgb(203, 169, 89);
    width: auto;
}

td {
    padding: 1em 0;
    font-size: 1em;
    color: rgb(222, 215, 198);
    text-align: center;
    width: auto;
}

/* Error stylesheet */
p {
    color: whitesmoke;
}

@media (max-width: 1100px) {
    table {
        padding: 0 2em;
    }

    th {
        padding: 0.25em 0;
        font-size: 0.9em;
    }

    td {
        padding: 0.5em 0;
        font-size: 0.9em;
    }
}

@media (max-width: 700px) {
    table {
        padding: 0 1em;
    }

    th {
        padding: 0.5em 0;
        font-size: 0.9em;
    }

    td {
        padding: 0.5em 0;
        font-size: 0.9em;
    }
}