* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/*----------------------------------------------------------
---------- Main Styles -------------------------------------
-----------------------------------------------------------*/
main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

form div {
    margin: 0.5em 0;
    align-self: flex-start;
}

form label {
    color: white;
}

form p {
    color: white;
}

form p a {
    color: rgb(202, 184, 136);
}

form p a:hover {
    color: rgb(241, 239, 233);
}

form a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-out;
}

form a:hover {
    color: gold;
}

#submit {
    width: 4.5em;
    padding: 0.2em;
    margin: 1em 0;
    background-color: rgb(160, 183, 160);
    color: darkslategrey;
    box-shadow: 0 0 0 0;
    transition: color 0.2s ease-out, box-shadow 0.2s ease-out;
}

#submit:hover {
    box-shadow: 0 0 10px 2px;
    color: whitesmoke;
    cursor: pointer;
}

#welcome {
    color: greenyellow;
    font-size: 2em;
}