 /* ------------------------------------------------------------------
--------------  Navigation Styles-------------------------------------
---------------------------------------------------------------------*/
 header {
     width: 100%;
     height: 10vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header #logo {
     color: goldenrod;
     font-size: 2em;
     padding-left: 1em;
     text-decoration: none;
     text-shadow: 0px 0px 2px rgb(240, 227, 194);
 }

 nav {
     width: 30vw;
     display: flex;
     justify-content: space-evenly;
 }

 nav a {
     color: white;
     text-decoration: none;
     transition: color 0.2s ease-out;
 }

 nav a:hover {
     color: gold;
 }

 nav a:active {
     color: rgb(38, 33, 4);
 }

 nav .nav-bar-container {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     position: absolute;
     opacity: 0;
     transition: opacity 0.3s ease-out;
     position: absolute;
     top: 8vh;
 }

 nav .nav-bar-container a {
     font-size: 1.1em;
     padding: 0.2em 0;
 }

 nav button {
     width: 4em;
     background-color: rgb(215, 207, 164);
     color: black;
     font-size: 1.5em;
     font-weight: bold;
     letter-spacing: 0.1em;
     border: 1px solid whitesmoke;
     border-radius: 1em;
     box-shadow: 0 0;
     transition: box-shadow 0.1s ease-out, color 0.1s ease-out;
     padding: 0.4em 0;
 }

 nav button:hover {
     box-shadow: 0px 0px 4px 2px gold;
     color: rgb(20, 21, 1)
 }

 #initials-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 #initials {
     color: black;
 }

 #initials-container:hover .nav-bar-container {
     cursor: pointer;
     opacity: 1;
 }