* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* ------------------------------------------------------------------------
----------------- Main Styles ---------------------------------------------
-------------------------------------------------------------------------*/
main {
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main button {
    color: lightgoldenrodyellow;
    padding: 0.5em;
    margin: 1em;
    font-size: 1.2em;
}

.news-heading {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    margin-bottom: 2em;
}

.news-heading a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    font-size: 2em;
    padding: 0 1em;
}

/* Active and hidden classes style the main header buttons for the news page */
.news-heading a.active {
    color: goldenrod;
    text-shadow: 0 0 1px lightgoldenrodyellow;
}

.hidden {
    display: none;
}

form {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    color: green;
}

form fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0 1em;
    margin: 1em 1em 0 1em;
}

form legend {
    padding: 0 1em;
    color: lightgoldenrodyellow;
}

input[type="submit"] {
    color: rgb(5, 69, 9);
    align-self: center;
    margin-top: 1em;
    padding: 0.3em;
    background-color: antiquewhite;
}

input[type="submit"]:hover {
    color: rgb(104, 80, 20);
    box-shadow: 0 0 1px 2px rgb(195, 195, 51);
    cursor: pointer;
}

input[type="submit"]:active {
    color: lightgoldenrodyellow;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
    max-width: 80%;
}

div .headline {
    color: green;
    font-size: 1.5em;
}

div img {
    max-width: 80%;
}

div .summary {
    max-width: 80%;
    color: lightgoldenrodyellow;
}

section div * {
    padding: 1em 0;
}

div a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}

div a:hover {
    text-decoration: none;
    color: rgb(44, 44, 8);
}

/* ------------------------------------------------------------------------
----------------- Media Queries -------------------------------------------
-------------------------------------------------------------------------*/