* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* ------------------------------------------------------------------------
----------------- Main Styles ---------------------------------------------
-------------------------------------------------------------------------*/
form {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    color: green;
}

form fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
}

form legend {
    padding: 0 1em;
    color: lightgoldenrodyellow;
}

input[type="submit"] {
    color: rgb(5, 69, 9);
    align-self: center;
    margin-top: 1em;
    padding: 0.3em;
    background-color: antiquewhite;
}

input[type="submit"]:hover {
    color: rgb(104, 80, 20);
    box-shadow: 0 0 1px 2px rgb(195, 195, 51);
    cursor: pointer;
}

input[type="submit"]:active {
    color: lightgoldenrodyellow;
}

section {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
    max-width: 80%;
}

div .headline {
    color: green;
    font-size: 1.2em;
}

div img {
    max-width: 100%;
}

div .summary {
    max-width: 90%;
}

section div * {
    padding: 1em 0;
}

div a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}

div a:hover {
    text-decoration: none;
    color: rgb(44, 44, 8);
}

/* ------------------------------------------------------------------------
----------------- Media Queries -------------------------------------------
-------------------------------------------------------------------------*/