* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* ------------------------------------------------------------------
--------------  Navigation Styles-------------------------------------
---------------------------------------------------------------------*/
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    color: goldenrod;
    font-size: 2em;
    margin-left: 1em;
    text-decoration: none;
}

nav {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

nav a:hover {
    color: gold;
}

nav button {
    width: 3em;
    background-color: rgb(215, 207, 164);
    color: black;
    font-size: 1em;
    letter-spacing: 0.1em;
    border: 1px solid whitesmoke;
    border-radius: 1em;
    box-shadow: 0 0;
    transition: box-shadow 0.1s ease-out;
}

nav button:hover {
    box-shadow: 0px 0px 4px 2px gold;
}

nav .portfolio-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.portfolio-container div {
    color: rgb(134, 102, 23);
    background-color: white;
    border: 1px solid goldenrod;
    padding: 2em 2em;
    position: absolute;
    width: 10em;
    top: 3em;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

nav #portfolio-btn {
    align-self: center;
}

.portfolio-container #portfolio-btn:hover + div {
    opacity: 1;
}

#initials-container {
    display: flex;
    flex-direction: column;
}

#initials {
    color: black;
}

#sign-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    margin: 0.2em 0;
}

nav #initials-container:hover #sign-out {
    opacity: 100;
}

/* ------------------------------------------------------------------------
----------------- Main Styles ---------------------------------------------
-------------------------------------------------------------------------*/
form {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    color: green;
}

form fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
}

form legend {
    padding: 0 1em;
    color: lightgoldenrodyellow;
}

input[type="submit"] {
    color: rgb(5, 69, 9);
    align-self: center;
    margin-top: 1em;
    padding: 0.3em;
    background-color: antiquewhite;
}

input[type="submit"]:hover {
    color: rgb(104, 80, 20);
    box-shadow: 0 0 1px 2px rgb(195, 195, 51);
    cursor: pointer;
}

input[type="submit"]:active {
    color: lightgoldenrodyellow;
}

section {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
}

div .headline {
    color: green;
    font-size: 1.2em;
}

div img {
    width: 50em;
    height: 30em;
}

div .summary {
    width: 50em;
}

section div * {
    padding: 1em 0;
}

div a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}

div a:hover {
    text-decoration: none;
    color: rgb(44, 44, 8);
}