* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* Navigation Styles */
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    color: goldenrod;
    font-size: 2em;
    margin-left: 1em;
    text-decoration: none;
}

nav {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

nav a:hover {
    color: gold;
}

nav button {
    width: 3em;
    background-color: rgb(215, 207, 164);
    color: black;
    font-size: 1em;
    letter-spacing: 0.1em;
    border: 1px solid whitesmoke;
    border-radius: 1em;
    box-shadow: 0 0;
    transition: box-shadow 0.1s ease-out;
}

nav button:hover {
    box-shadow: 0px 0px 4px 2px gold;
}

nav .portfolio-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.portfolio-container div {
    color: rgb(134, 102, 23);
    background-color: white;
    border: 1px solid goldenrod;
    padding: 2em 2em;
    position: absolute;
    width: 10em;
    top: 3em;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

nav #portfolio-btn {
    align-self: center;
}

/*
.portfolio-container #portfolio-btn:hover + div {
    opacity: 1;
}
    */
#initials-container {
    display: flex;
    flex-direction: column;
}

#initials {
    color: black;
}

#sign-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    margin: 0.2em 0;
}

nav #initials-container:hover #sign-out {
    opacity: 100;
}

/* ----------------------------------------------------
------------------- Body Styles ------------------------
--------------------------------------------------------*/
h2 {
    color: lightgoldenrodyellow;
    margin: 1em;
}

section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
}

th {
    color: rgb(0, 10, 0);
    padding: 0.5em;
}

tr {
    background-color: rgb(217, 241, 211);
}

td {
    color: rgb(28, 29, 28);
    padding: 0.5em;
}

section button {
    margin-top: 1em;
}

/* Dynamic Form styling */
form {
    background-color: rgb(215, 197, 152);
}

form label {
    color: black;
}

.add-stock-watchlist-button,
.add-stock-portfolio-button {
    background-color: rgb(183, 178, 149);
    padding: 0.5em;
    box-shadow: 0 0 0 0;
    color: rgb(1, 19, 7);
    transition: box-shadow 0.2s ease-out, color 0.2s ease-in;
}

.add-stock-watchlist-button:hover,
.add-stock-portfolio-button:hover {
    color: rgb(12, 95, 12);
    box-shadow: 0 0 5px 5px rgb(12, 95, 12);
}