* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* ----------------------------------------------------
------------------- Body Styles ------------------------
--------------------------------------------------------*/
h2 {
    color: lightgoldenrodyellow;
    margin: 1em;
}

section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
}

th {
    color: rgb(0, 10, 0);
    padding: 0.5em;
}

tr {
    background-color: rgb(217, 241, 211);
}

td {
    color: rgb(28, 29, 28);
    padding: 0.5em;
}

section button {
    margin-top: 1em;
}

table a {
    color: rgb(96, 73, 13);
    text-decoration: none;
}

table a:hover {
    color: whitesmoke;
}

/* Dynamic Form styling */
form {
    background-color: rgb(215, 197, 152);
    position: relative;
}

form label {
    color: black;
}

.add-stock-watchlist-button,
.add-stock-portfolio-button {
    background-color: rgb(183, 178, 149);
    padding: 0.5em;
    box-shadow: 0 0 0 0;
    color: rgb(1, 19, 7);
    transition: box-shadow 0.2s ease-out, color 0.2s ease-in;
}

.add-stock-watchlist-button:hover,
.add-stock-portfolio-button:hover {
    color: rgb(12, 95, 12);
    box-shadow: 0 0 5px 5px rgb(12, 95, 12);
}

.new-div {
    position: absolute;
    top: 0;
    background-color: rgb(251, 206, 91);
}

.new-div span {
    margin: 0em 1em;
    color: rgb(12, 134, 12);
    font-weight: 500;
}

.new-div span:hover {
    color: rgb(237, 232, 221);
    cursor: pointer;
}

.new-div2 {
    display: flex;
    justify-content: space-evenly;
}