 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 :root {
     --company-container-color: rgba(65, 72, 51, 0.2);
 }

 body {
     background-color: black;
 }

 /***************************************************************************
************* Main Styles ***************************************************
****************************************************************************/
 main {
     color: whitesmoke;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
 }

 .stats-section {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: start;
     background-color: var(--company-container-color);
     flex-wrap: nowrap;
     width: 90vw;
 }

 .company-container {
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto auto auto;
     padding: 2em;
     border: 2px solid rgb(226, 218, 197);
     margin: 1.5em;
     width: 45%;
 }

 .company-container h2 {
     grid-row: 1 / 2;
     grid-column: 1 / 3;
     justify-self: center;
     color: rgb(195, 188, 147);
 }

 .toggle-container {
     grid-row: 2 / 3;
     grid-column: 1 / 3;
 }

 /************** Dividend Tracker Styles *************/
 .dividend-container {
     grid-column: 4 / 5;
     grid-row: 2 / 3;
     justify-self: center;
 }

 .dividend-button {
     align-self: flex-start;
     margin-left: auto;
     padding: 1em 1.2em;
     background-color: lightgoldenrodyellow;
     color: rgb(92, 70, 14);
     border: 1px solid darkgoldenrod;
     border-radius: 1em;
     font-size: 1.1em;
     text-shadow: 0 0 2px 0.5px rgb(191, 160, 84);
 }

 .dividend-button:hover {
     align-self: start;
     margin-left: auto;
     padding: 1em 1.2em;
     background-color: lightgoldenrodyellow;
     color: rgb(152, 131, 77);
     border: 2px solid darkgoldenrod;
     border-radius: 1em;
     font-size: 1.1em;
     text-shadow: 0 0 2px 0.5px rgb(191, 160, 84);
     box-shadow: 0 0 2px 1px rgb(239, 239, 42);
     cursor: pointer;
 }

 .dynamicForm {
     position: relative;
     left: 15em;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
 }

 .formDiv {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 /******************************************************
 /* ------------------ Form Styles ---------------------
 ******************************************************/
 .form-section {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 1fr);
 }

 form {
     padding: 20px;
     grid-column: 2 / 4;
     grid-row: 1 / 5;
 }

 fieldset {
     padding: 20px;
     display: flex;
     flex-direction: column;
 }

 legend {
     padding: 0px 10px;
 }

 fieldset div {}

 .stock-ticker-div {
     margin: 1em 0;
 }

 form {}

 input {
     color: black;
 }

 input[type="submit"] {
     padding: 0.3em;
     background-color: #fefae0;
     color: #283618;
     text-align: center;
     align-self: center;
     margin-top: 20px;
 }

 input[type="submit"]:hover {
     cursor: pointer;
     background-color: #fefae0;
     color: #97d154;
     box-shadow: 0px 0px 2px 1px #97d154;
 }

 input[type="submit"]:active {
     cursor: pointer;
     background-color: #fefae0;
     color: #1a2909;
     box-shadow: 0px 0px 2px 1px #acd67c;
 }

 #add {
     color: rgb(206, 196, 171);
     background-color: rgb(105, 78, 7);
     font-size: 1.3em;
     font-weight: 2em;
     width: 1.5em;
     text-align: center;
     padding: 2px;
     border: 1px solid rgb(36, 27, 3);
     margin-top: 0.5em;
 }

 #add:hover {
     box-shadow: 0 0 3px 3px rgb(226, 199, 129);
     color: rgb(204, 184, 136);
     cursor: pointer;
 }

 #stock-input2 {
     display: none;
 }

 /*--------------------------------------------
 ----------- Table Styles --------------------
 ---------------------------------------------*/
 .table-container {
     width: 100%;
 }

 table {
     padding: 1em;
     table-layout: fixed;
     width: 95%;
 }

 th {
     font-size: 1em;
 }

 th,
 td {
     padding: 0.5em 1em;
 }

 thead th {
     color: #90b468;
     text-shadow: 0 0 0.5px #96b772;
     font-size: 1.5em;
 }

 .hide-table {
     display: none;
 }

 /***************************************************************
 ************ Responsive Design *********************************
 **************************************************************/
 @media (max-width: 1400px) {
     .company-container {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
     }

     .company-container h2 {
         margin-bottom: 0.5em;
     }

     .form-section {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
     }
 }

 @media (max-width: 700px) {
     .stats-section {
         align-items: center;
     }

     .company-container {
         padding: 0.5em;
         margin: 0em;
         width: 100%;
     }

     th,
     td {
         padding: 0.25em;
         font-size: 0.5em;
         text-align: center;
     }
 }